
<div class="pagestyle">


<html>
    <body>
    
        <div class="todoStyle">

        <ol>
            <h1>{{title}}</h1>
            <h3>A Place to store your todos</h3>

            <div *ngFor="let chore of todoObjects; index as i">
  
            
                <li>
                    <button class="removebutton" (click)="remove(i)">X</button>
                    <button class="buttonstyle" *ngIf="!chore.completed" (click)="completeTask(i)">Complete</button>
                    <div *ngIf="chore.completed;else notComplete"><s>{{chore.task}}</s></div>
                    <ng-template #notComplete>{{chore.task}}</ng-template>
                    
                </li>
        </div>
        <input [(ngModel)]="userEntry" type class="addtodo" placeholder="Add your to-do" name="addTask" id=addTask>
        <button class="addButton" onclick="document.getElementById('addTask').value=''"(click)="addTheTask()">Add</button> <br />
        </ol>
        </div>
        <!--<div class="todoStyle" *ngIf="congrats()" ><p>You did it! Have a Cookie.</p></div>-->
        

    </body>
</html>
</div>


